@import '../../templates/abstracts/mixins';
@import '../../templates/base/animations';

.notification {
  background-color: greenyellow;
  padding: 1.3rem 3rem 1.3rem 2.2rem;
  color: white;
  margin-bottom: 0.5rem;
  position: relative;
  font-size: 1.4rem;

  &__error {
    background-color: red;
  }

  &__info {
    background-color: orange;
  }

  &__icon {
    fill: var(--color-white);
    height: 1.8rem;
    width: 1.8rem;
  }

  &__removeItem {
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--color-white);
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    transform: scale(1);
    transition: all 0.5s ease;
    z-index: 4000;

    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      fill: var(--color-red);
    }
  }
}
