@import '../../templates/abstracts/mixins.scss';

.button {
  padding: 1rem 4rem;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  border: none;
  outline: none;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: var(--default-font-size);
  color: var(--color-white);
  background-color: var(--color-tertiary);
  letter-spacing: 2px;
  float: right;
  @include shadowBottom;
  cursor: pointer;

  &__box {
    // transform: skewX(-20deg);
    transform: skewX(-20deg) translateX(0);
    transition: all 0.5s;
    @include clearfix;

    &:hover,
    &:focus {
      transform: skewX(-20deg) translateX(-4px);
    }
  }

  &__text {
    transform: skewX(20deg);
  }

  &__pink {
    background-color: var(--color-primary);
  }

  &__simple {
    background-color: var(--color-black);
    width: 100%;
    float: none;
    backface-visibility: hidden;
    transition: all 0.5s;
    border: none;
    outline: none;
    &:hover,
    &:focus {
      transform: translateY(-1px) scale(1.01);
    }
  }
}
