.cartItem {
  font-size: var(--default-font-size);
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__figure {
    border-radius: 100%;
    overflow: hidden;
    height: 5rem;
    width: 5rem;
    margin-right: 1.5rem;
    margin-left: 2rem;
  }

  &__img {
    width: 100%;
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-primary);
  }

  &__quantity {
    margin-right: 0.5rem;
  }

  &__iconBtn {
    position: absolute;
    top: 40%;
    cursor: pointer;
    margin-right: 0.8rem;
    background-color: var(--color-secondary-light);
    border: none;
    outline: none;
  }

  &__icon {
    background-color: var(--color-secondary-light);
    transform: scale(1);
    transition: all 0.3s ease;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__iconBtn:hover &__icon {
    fill: var(--color-red);
    transform: scale(1.02);
  }
}
