@import '../../templates/abstracts/mixins.scss';

.outlet {
  &__container {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include respond(tab-port) {
      margin: 3rem 0;
    }
  }

  &__item {
    list-style: none;
    margin: 2rem;
    max-width: 33rem;
    @include shadowBottom;
  }
}
