// COLORS
//$color-primary: #9a0063;
$color-primary: #861831;
//$color-primary-light: #cc5ca8;
$color-primary-light: #cc5c94;
$color-secondary: #faa8ef;
$color-secondary-light: #f8d7fe;
$color-tertiary: #fbdb04;
$color-grey-light: #f8f8f8;
$color-grey: #d0d0d0;
$color-grey-dark: rgb(36, 36, 36);
$color-white: #ffffff;
$color-black: #000;

// FONTS
$default-font-size: 1.6rem; // 16px
